#top {
	position: fixed;
	left: 0;
	right: 0;
	height: 70%;
	}


#bottom {
	position: fixed;
	left: 0;
	right: 0;
	height: 30%;
	}
	
#top {
	top: 0;
	background-color: black;
	}
	
#bottom {
	bottom: 0;
	background-color: BlanchedAlmond;
	}
	
h2 {
	font-family: 'Mystery Quest', cursive;
	color: white;
	font-size: 4em;
	text-align: center;
	margin-top: 500;
}	

/*
.form {
	width: 400px;
	height: 100px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: #308014;
	margin: auto;
	margin-top: 50px;
	text-align: center;
}
*/


.form {
   padding: 20px;
   margin: 100px;
   background: #ff0030;
   color: #fff;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #ff0030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
}
